{% load i18n %}

{% url 'home-view' as path_to_home %}
{% url 'articles:news-papers' as path_to_news_papers %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}
{% url 'questions:experiment_end' as experiment_end %}
{% url 'questions:questions_after' as questions_after %}

<div class="ui secondary menu nav">
  {% if not request.user.is_authenticated %}
  <div class="ui container">
    <a href="{{ path_to_home }}" class="{% if request.path == path_to_home %}active{% endif %} item">
       <i class="fab fa-facebook"></i> 
    </a>
  </div> 
  <a href="{% url 'account_login' %}" class="ui item">
        Login
  </a>
  {% else %}
  
  <div class="ui top fixed menu">
    <div class="ui container">

      <!-- Home-Button -->
       {% if not is_questions_page and start_view_mode == 'newspapers'%}
      <a href="{{ path_to_news_papers }}" class="item {% if request.path == path_to_news_papers %}active{% endif %}">
        <i class="home icon"></i> Zeitungsübersicht
      </a>
      {% endif %}
      {% if not is_questions_page and start_view_mode == 'article_list'%}
      <a href="{{ path_to_article_list }}" class="item {% if request.path == path_to_article_list %}active{% endif %}">
        <i class="home icon"></i> Artikelübersicht
      </a>
      {% endif %}
      {% if not is_questions_page and start_view_mode == 'article'%}
      <a href="{{ path_to_article }}" class="item {% if request.path == path_to_article %}active{% endif %}">
        <i class="home icon"></i> Zurück zum Artikel
      </a>
      {% endif %}

      <!-- Rechte Seite der Navigation -->
      <div class="right menu">
        <!-- Timer -->
        {% if request.session.newspaper_entry_time %}
        <div class="item" id="timer">
          <i class="clock outline icon"></i>
          <span>Verbleibende Zeit: <span id="timer-countdown">Berechnung...</span></span>
        </div>
        {% endif %}

        <!-- Profil-Link -->
      {% if not is_questions_page %}
        <a href="{{ path_to_my_profile }}" class="item {% if request.path == path_to_my_profile %}active{% endif %}">
          <img src="{{ picture.url }}" class="ui avatar image" alt="Profilbild">&nbsp; {{ request.user }}
        </a>
      {% endif %}

        <!-- After Questions -->
        {% if not is_questions_page and not request.session.newspaper_entry_time %}
        <a href="{{ questions_after }}" class="item">
          <i class="check circle icon"></i>&nbsp; Studie abschließen 
        </a>
        {% endif %}

        <!-- Cancel Experiment -->
        <a href="{% url 'account_logout' %}" class="item">
          <i class="ban icon"></i>&nbsp;Experiment abbrechen
        </a>
      </div>
    </div>
  </div>

  {% endif %}
</div>
<br>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const timerElement = document.getElementById('timer-countdown');
    const loginTimeRaw = "{{ request.session.newspaper_entry_time|default:''|escapejs }}";
    const maxDuration = {{ MAX_SESSION_DURATION|default:3600 }};  // Maximale Sitzungszeit
    const loginTime = new Date(loginTimeRaw);

    if (!loginTimeRaw || isNaN(loginTime.getTime())) {
      console.error("Timer inactive: No valid entry time found. Raw value:", loginTimeRaw);
      return;
    }

    const endTime = loginTime.getTime() + (maxDuration * 1000);

    function updateTimer() {
      const now = new Date().getTime();
      const remaining = endTime - now;

      if (remaining > 0) {
        const minutes = Math.floor((remaining % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((remaining % (1000 * 60)) / 1000);
        timerElement.textContent = `${minutes}m ${seconds}s`;
      } else {
        timerElement.textContent = "Zeit ist abgelaufen!";
        if (!window.location.href.includes("/questions/after/")) {
          
        // Logging, dass der Nutzer umgeleitet wurde
        logUserAction("session_timeout_redirect", {
          url: window.location.href, // Aktuelle Seite vor Umleitung
          redirected_to: "/questions/after/?redirected_from_timer=true"
        });

        // Umleitung zur Abschlussseite
        // Verzögerung der Weiterleitung um 500ms, damit Logging gesendet wird
        setTimeout(() => {
          window.location.href = "/questions/after/?redirected_from_timer=true";
        }, 1000);
                  
        }
      }
    }

    setInterval(updateTimer, 1000);
    updateTimer();
  });

</script>
