{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Artikelübersicht
{% endblock title %}

{% block content %}
{% if start_view_mode == 'newspapers' %}
    <a href="{% url 'articles:news-papers' %}" class="back-link">← Zurück zur Zeitungsauswahl</a>
{% endif %}
<div class="ui articles-container">
 <h1 class="ui header">Artikelübersicht</h1>

  {% if articles %}
    <!-- Grid für die Artikelübersicht -->
    <div class="articles-grid">
      {% for article in articles %}
        <div class="article-card">
          <!-- Bild des Artikels -->
          <img class="article-image" src="{{ article.image.url }}" alt="{{ article.title }}">
          
          <!-- Inhalt des Artikels -->
          <div class="article-content">
            <h3 class="ui left aligned header">{{ article.title }}</h3>
            <h5 class="ui left aligned header">
              <span>Veröffentlicht am: {{ article.created_at|date:"F j, Y" }}</span>
            </h5>
            <p class="article-description">{{ article.content|truncatewords:20 }}</p>
            <a href="{% url 'articles:detailed-article' news_paper_id=newspaper.id slug=article.slug %}" class="ui button read-more">
              Mehr lesen
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <!-- Nachricht bei fehlenden Artikeln -->
    <p>No articles available.</p>
  {% endif %}
</div>

{% endblock content %}
